@font-face {
    font-family: "SequelSans";
    src: url(../fuentes/SequelSansBlackOblDisp.ttf);
}
* {
    font-family: "SequelSans";
}
body {
    background-color: rgb(26, 98, 65);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.logo {
    width: 100px;
}
h1, h2, h3, p {
    color: white;
}
h1, h2, h3{
    letter-spacing: 3px;
}
p{
    letter-spacing: 2px;
}
.contenedorTitulos{
    position: relative;
    right: 70px;
    height: 100px;
}
.subtitulo{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-top: 5px;
}
.textoFilosofia, .tituloFilosofia, .tituloSobNos, .textoSobNos, .textoEventos {
    padding: 0px 5px;
    line-height: 25px;
}
.contenedorFilosofia, .contenedorSobreNosotros, .imgBody, .contenedorEventos, .card{
    box-shadow: 12px 12px 12px rgb(14, 77, 47),
    -10px -10px 10px rgb(37, 109, 76) ;
    border-radius: 20px;
    margin: 12px;
}
.imgBody{
    border-radius: 100%;
    margin: 20px 0px;
}
.slider {
    width: 100%;
    overflow: hidden; /* Oculta el contenido que se sale del contenedor */
    margin-top: 20px; /* Espacio entre el slider y la sección anterior */
    position: relative; /* Necesario para el posicionamiento absoluto */     
    margin: 30px 0px;
}

.slider-track {
    display: flex; /* Permite que las tarjetas se alineen en una fila */
    width: max-content; /* Ajusta el ancho de la pista al contenido */
    animation: scroll 10s linear infinite; /* Animación continua */
    padding: 20px;
    position: relative; /* Necesario para el posicionamiento absoluto del gradiente */
    cursor: grab;
}
.slider-track:active {
    cursor: grabbing; /* Cambia el cursor cuando se está arrastrando */
}
.card {
    flex: 0 0 220px; /* Mantiene el ancho fijo de 220px */
    margin: 0 10px;
    background-color: rgb(26, 98, 65);
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* Gradiente de desvanecimiento a la izquierda */
.slider::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40px; /* Ancho del gradiente */
    height: 100%;
    background: linear-gradient(to right, rgb(26, 98, 65), transparent);
    pointer-events: none; /* Permite que los eventos pasen a través del gradiente */
}

/* Gradiente de desvanecimiento a la derecha */
.slider::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px; /* Ancho del gradiente */
    height: 100%;
    background: linear-gradient(to left, rgb(26, 98, 65), transparent);
    pointer-events: none; /* Permite que los eventos pasen a través del gradiente */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-230px * 3)); /* Mueve el slider por el ancho total de las tarjetas más márgenes */
    }
}

.slider-track.paused {
    animation-play-state: paused;
}
